{% include "partials/darkmode.html" %}

<header>
  <section class="nav-container">
    <a class="nav-title" href="{{ config.base_url | safe }}">
      <h2 class="logo">{{ config.title | default(value="Choique")}}</h2>
    </a>
    <nav>
      <ul>
        {% if config.extra.menu %}
          {% for menu in config.extra.menu %}
          <li><a href="{{ get_url(path=menu.url) | safe }}">{% if lang == "es" %}{{ menu.name_es }}{% else %}{{ menu.name }}{% endif %}</a></li>
          {% endfor %} 
        {% else %}
          <li><a href="{{ config.base_url | safe }}">Archivo</a></li>
          <li><a href="{{ get_url(path='tags') | safe }}">Tags</a></li>
        {% endif %}
      </ul>
    </nav>
    <nav>
      <ul class="language">
        {% if lang != "es" %}
        <li><a href="/">ES</a></li>
        {% endif %}
        {% if lang == "es" %}
        <li><a href="/en">EN</a></li>
        {% endif %}
      </ul>
    </nav>
  </section>
</header>