<div class="home-picture">
    <img src="/images/home-picture.jpeg" />
</div>

<div class="home-text">
    <h3>
        {% if lang == "es" %}
            Somos un grupo de trabajo que promueve la adopción de <strong>tecnologías libres</strong> para abordar cuestiones relacionadas con la <strong>acción climática</strong> y el <strong>desarrollo local</strong> sostenible
            <i>Priorizamos estrategias que brinden un apoyo sostenido en el tiempo y maximicen el impacto</i>
        {% endif %}
        {% if lang == "en" %}
            We are a working group that promotes the adoption of <strong>free technologies</strong> to address issues related to <strong>climate action</strong> and sustainable <strong>local development</strong>
            <i>We prioritize strategies that provide sustained support over time and maximize impact</i> 
        {% endif %}
    </h3>
</div>