<div class="home-picture">
    <img src="/images/about.jpg" />
</div>

<div class="home-text">
    <h3>
        {% if lang == "es" %}
            Somos un grupo de trabajo que promueve la adopción de <strong>tecnologías libres</strong> para abordar cuestiones relacionadas con la <strong>acción climática</strong> y el <strong>desarrollo local</strong> sostenible. Priorizamos estrategias que brinden un apoyo sostenido en el tiempo y maximicen el impacto.
            Trabajamos para apoyar a empresas, organizaciones, instituciones, grupos y personas, integrándolos en todo el proceso.
            Nuestro principal objetivo es promover la conexión entre las tecnologías libres para la producción, el análisis y la visualización de datos geoespaciales y las necesidades de los grupos con los que trabajamos.
        {% endif %}
        {% if lang == "en" %}
            We are a working group that promotes the adoption of <strong>free technologies</strong> to address issues related to <strong>climate action</strong> and sustainable <strong>local development</strong>. We prioritize strategies that provide sustained support over time and maximize impact. 
            We work to support companies, organizations, institutions, groups, and individuals, integrating them throughout the entire process.
            Our main objective is to promote the connection between free technologies for the production, analysis, and visualization of geospatial data and the needs of the groups we work with.
        {% endif %}
    </h3>
</div>